torch==2.11.0
torchvision
torchaudio

torch_geometric

torch_cluster
torch_scatter
torch_spline_conv

numpy>=1.26.4
pandas>=2.0
tqdm
tensorboard
pyyaml
easydict
biotite
dm-tree
biopython
modelcif
e3nn